.register-container {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #111;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.register-title {
    font-size: 2rem;
}