.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/src/assets/bg-cinema.jpg') no-repeat center center/cover;
    backdrop-filter: blur(5px);
    font-family: 'Poppins', sans-serif;
}

.login-form {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    max-width: 400px;
}

.login-form h2 {
    margin: 0;
    text-align: center;
}

.login-form input {
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
    outline: none;
}

.login-form input::placeholder {
    color: #ccc;
}

.login-form button {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: #ff4081;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #e91e63;
}

.register-link {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #ccc;
    text-align: center;
}

.register-link span {
    color: #ff4081;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.register-link span:hover {
    color: #e91e63;
}