*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 🔒 bloquea scroll completamente */
  background-color: #000;
}